$ligth: white;
$dark: rgb(26, 25, 25);
$bg-nav: #191c1b;
$bg-secondary: rgb(212, 205, 205);
$buttons-bg:#4b63bb;
$buttons-bg-active:#3049a3;
$card-bg: #2bb3f3;

$font-family-rare:  "Edu TAS Beginner", cursive;